<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>메디링크 로그인</title>
<link rel="stylesheet" href="/css/Findidstyle.css">
</head>
<body>
	<div class="container">
		<div class="login-box">
			<div class="left-panel"></div>
			<div class="right-panel">
				<form class="find-id-form" method="post" action="/Login/Findid">
					<h2>아이디 찾기</h2>
					<label for="name">이름</label> <input type="text" id="name"
						name="name" placeholder="이름 입력" required> <label
						for="email">이메일주소</label>
					<div class="inline">
						<input type="email" id="email" placeholder="이메일 주소 입력" required>
						<button type="button" id="sendCodeBtn" class="small-btn">인증번호받기</button>
					</div>

					<input type="text" id="code" name="code" placeholder="인증번호 입력" disabled>

					<button type="submit" id="nextBtn" onclick="location.href='Resultid'" disabled>다음</button>

					<div class="links">
						<a href="Findid">아이디찾기</a> | <a href="Findpwd">비밀번호 찾기</a>
					</div>
				</form>
				<footer>
					<p>
						최고의 의료진이 여러분을 도와드립니다.<br>medilink@imqa.io / Tel :
						053-123-1234
					</p>
				</footer>
			</div>
		</div>
	</div>
	<script>
		// "인증번호받기" 버튼 클릭 시 인증번호 입력란 활성화
		window.addEventListener("DOMContentLoaded", function() {
			const sendBtn = document.getElementById('sendCodeBtn');
			const codeInput = document.getElementById('code');

			if (sendBtn && codeInput && nextBtn) {
				sendBtn.addEventListener('click', function() {
					codeInput.disabled = false;
					codeInput.focus();
					nextBtn.disabled = false;
				});
			} else {
				console.error("요소를 찾지 못했습니다.");
			}
		});

		const images = [ '/img/login1.jpg', '/img/login2.jpg',
				'/img/login3.jpg', '/img/login4.jpg' ];

		let index = 0;
		const panel = document.querySelector('.left-panel');

		function changeBackground() {
			panel.style.backgroundImage = `url('${images[index]}')`;
			index = (index + 1) % images.length;
		}

		changeBackground();
		setInterval(changeBackground, 3000);
	</script>
</body>
</html>
